/.phpcs-cache.json
/.phpstan.cache/
/.phpunit.cache/

/vendor/
/composer.lock

# ------------------------------------------------------------------------------
# Editor configuration directories
# ------------------------------------------------------------------------------
/.idea/
/.vscode/
/.zed/
