includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/shipmonk/dead-code-detector/rules.neon

parameters:
  level: max

  paths:
    - src/
    - tests/

  tmpDir: var/.phpstan.cache

  treatPhpDocTypesAsCertain: false

  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

  ignoreErrors:
    -
      identifier: missingType.checkedException
      reportUnmatched: false
      paths:
        - tests/
